todo.org
*~
\#*#
*.xci
.#*
.emacs*
*.jou
*.log
*.str
*.xpr
*.bit
*.ltx
.Xil/
vivado*/
*.runs/
*.cache/
*.hw/
*.ip_user_files/
*.sim/
xsim.dir/
*.wdb
*.pb
dfx_runtime.txt
tests/run_sim.tcl
tests/run_tests.py
*.bin
*.elf
*.claude*
*.claude/
.claude/
CLAUDE.md